
    h1,  h2, p, ul, li {
        color: black;
        text-align: center;
      }
  body {
    background-image: url('gif.gif');
    background-repeat: repeat;
}
  
  #menu {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  #menu button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
  }
  
  #menu button:hover {
    background-color: #666;
  }
  #contenedor {
    background-color: green;
    max-width: 300px; /* ajusta según sea necesario */
    margin: 0 auto;
    padding: 0 300px;
    border-radius: 50px; /* El número indica el radio de los bordes */

  }